.body
{
}

	.body .left
	{
		float: left;
		width: 400px;
	}

	.body .main
	{
		float: left;
		width: 590px;
		margin-left: 8px;
	}

	.body .left .group
	{
		border: 5px solid #ccc;
		border-radius: 5px;
		padding: 5px;
		margin-bottom: 5px;
	}


		.body .left .group #TShirtType span
		{
			width: 50px;
			height: 50px;
			line-height: 50px;
			border: 2px solid #ccc;
		}

			.body .left .group #TShirtType span.hover
			{
				border-color: #ff6a00;
			}

			.body .left .group #TShirtType span.active
			{
				border-color: #ff6a00;
			}
