.body
{
}

	.body .left
	{
		float: left;
		width: 400px;
	}

	.body .main
	{
		float: left;
		width: 590px;
		margin-left: 8px;
	}

	.body .left .group
	{
		border: 5px solid #ccc;
		border-radius: 5px;
		padding: 5px;
		margin-bottom: 5px;
	}


		.body .left .group #TShirtType span
		{
			width: 50px;
			height: 50px;
			border: 2px solid #ccc;
			margin-right: 4px;
		}

			.body .left .group #TShirtType span.hover, .body .left .group #TShirtColor span.hover
			{
				border-color: #ff6a00;
			}

			.body .left .group #TShirtType span.active, .body .left .group #TShirtColor span.active
			{
				border-color: #ff6a00;
			}

		.body .left .group #TShirtColor span
		{
			width: 30px;
			height: 30px;
			border: 2px solid #ccc;
			margin-right: 4px;
		}

	.body .left #UploadImage
	{
		height: 150px;
	}





	.body .main .group
	{
		border: 5px solid #ccc;
		border-radius: 5px;
		padding: 5px;
	}

		.body .main .group .uploadImage
		{
			position: relative;
			border: 2px solid transparent;
			border-radius: 5px;
			-moz-background-size: 100% 100%;
			-o-background-size: 100% 100%;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
		}
