.body .line1
{
}

	.body .line1 .imageDiv
	{
		float: left;
		width: 480px;
		height: 320px;
		background: transparent url("images/home/main_image_480x320.png") center center no-repeat;
	}

	.body .line1 .mainDiv
	{
		float: right;
		width: 500px;
		height: 320px;
		margin-left: 20px;
	}

		.body .line1 .mainDiv h1
		{
			font-size: 24px;
		}

		.body .line1 .mainDiv h2
		{
			font-size: 18px;
		}

		.body .line1 .mainDiv ul
		{
			margin-top: 8px;
		}

			.body .line1 .mainDiv ul li
			{
				background: url("images/No0_44x44.png") no-repeat 0px 0px;
				margin-bottom: 8px;
				padding-left: 50px;
			}

.HomeButton
{
	width: 200px;
	height: 75px;
	line-height: 75px;
	font-size: 24px;
}

	.HomeButton:link
	{
		background: transparent url("images/home/button_200x75_default.png") center center no-repeat;
	}

	.HomeButton:visited
	{
		background: transparent url("images/home/button_200x75_default.png") center center no-repeat;
	}

	.HomeButton:hover
	{
		background: transparent url("images/home/button_200x75_hover.png") center center no-repeat;
	}

	.HomeButton:active
	{
		background: transparent url("images/home/button_200x75_active.png") center center no-repeat;
	}

.body .line2
{
	height: 150px;
	border: 2px solid #000000;
}

	.body .line2 h1
	{
		font-size: 18px;
	}

	.body .line2 > div
	{
		float: left;
		height: 80px;
		margin-top: 35px;
		margin-left: 5px;
	}

	.body .line2 .imageDiv
	{
		width: 80px;
		background: transparent url("images/home/image1_80x80.png") center center no-repeat;
	}

	.body .line2 .imageDiv1
	{
		width: 80px;
		background-image: url("images/home/image1_80x80.png");
	}

	.body .line2 .imageDiv2
	{
		width: 80px;
		background-image: url("images/home/image2_80x80.png");
	}

	.body .line2 .imageDiv3
	{
		width: 80px;
		background-image: url("images/home/image3_80x80.png");
	}

	.body .line2 .contentDiv
	{
		width: 200px;
	}

	.body .line2 .spaceDiv
	{
		width: 50px;
		background: transparent url("images/home/space_50x18.png") center center no-repeat;
	}

.body .line3
{
	border: 2px solid #000000;
	margin-top: 15px;
}

	.body .line3 .itemDiv
	{
		width: 492px;
		height: 230px;
		border: 1px solid #ccc;
		float: left;
		margin: 2px;
	}

		.body .line3 .itemDiv .itemImage
		{
			width: 180px;
			height: 180px;
			float: left;
		}

		.body .line3 .itemDiv .itemInfo
		{
			width: 310px;
			height: 180px;
			float: left;
		}

			.body .line3 .itemDiv .itemInfo h1
			{
				height: 30px;
				font-size: 24px;
				overflow: hidden;
			}

			.body .line3 .itemDiv .itemInfo h2
			{
				height: 20px;
				font-size: 14px;
				overflow: hidden;
			}

			.body .line3 .itemDiv .itemInfo .descriptionInfo
			{
				height: 130px;
				overflow-y: auto;
			}

		.body .line3 .itemDiv .saleInfo
		{
			width: 480px;
			height: 50px;
			float: left;
			margin-left: 6px;
		}

			.body .line3 .itemDiv .saleInfo span
			{
				/*display: block;*/
				font-size: 16px;
			}

			.body .line3 .itemDiv .saleInfo a
			{
				display: inline-block;
				font-size: 20px;
				font-weight: bold;
			}

				.body .line3 .itemDiv .saleInfo a:link
				{
					text-decoration: none;
					color: #3772b8;
				}

				.body .line3 .itemDiv .saleInfo a:visited
				{
					text-decoration: none;
					color: #3772b8;
				}

				.body .line3 .itemDiv .saleInfo a:hover
				{
					text-decoration: underline;
					color: #365d93;
				}

				.body .line3 .itemDiv .saleInfo a:active
				{
					text-decoration: underline;
					color: #365d93;
				}
