.body
{
}

	.body .DesignInfo
	{
	}

		.body .DesignInfo .imageShow
		{
			float: left;
			width: 590px;
		}

			.body .DesignInfo .imageShow .uploadImage
			{
				position: relative;
				border: 2px solid transparent;
				border-radius: 5px;
				-moz-background-size: 100% 100%;
				-o-background-size: 100% 100%;
				-webkit-background-size: 100% 100%;
				background-size: 100% 100%;
			}

		.body .DesignInfo .infoShow
		{
			float: left;
			width: 400px;
		}

			.body .DesignInfo .infoShow .buy .submitButton
			{
				width: 380px;
				height: 45px;
				line-height: 45px;
				font-size: 24px;
			}

				.body .DesignInfo .infoShow .buy .submitButton:link
				{
					color: #ffffff;
					background-color: #3db236;
					border: 1px solid #128d27;
				}

				.body .DesignInfo .infoShow .buy .submitButton:visited
				{
					color: #ffffff;
					background-color: #3db236;
					border: 1px solid #128d27;
				}

				.body .DesignInfo .infoShow .buy .submitButton:hover
				{
					color: #ffffff;
					background-color: #0f7621;
					border: 1px solid #128d27;
				}

				.body .DesignInfo .infoShow .buy .submitButton:active
				{
					color: #ffffff;
					background-color: #0c601a;
					border: 1px solid #128d27;
				}


	.body .MaterialInfo
	{
	}

	.body .BuyList
	{
	}

#BuyList .head
{
	text-align: center;
	width: 75px;
}

#BuyList .size
{
	text-align: right;
}

#BuyList .quantity
{
	text-align: right;
}

	#BuyList .quantity input
	{
		text-align: right;
		width: 75px;
	}
