.body
{
}

	.body #StateList
	{
	}

		.body #StateList .StateItem
		{
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			float: left;
			width: 162px;
			height: 50px;
			text-align: center;
			border: 1px solid #000;
			margin: 2px;
		}

			.body #StateList .StateItem .StateString
			{
				font-weight: bold;
				color: #000;
			}

			.body #StateList .StateItem > span
			{
				display: block;
				cursor: default;
				color: #888;
			}

		.body #StateList .StateComplete
		{
			background-color: #00ff00;
		}

		.body #StateList .StateActive
		{
			border: 3px solid #f15c00;
			background-color: transparent;
		}


	.body #OrderInfo
	{
	}

		.body #OrderInfo .Express
		{
			border: 1px solid #aaa;
			margin-top: 20px;
			word-wrap: break-word;
			word-break: break-all;
		}

			.body #OrderInfo .Express span
			{
				display: block;
			}
