.body
{
}

.register
{
	float: left;
	width: 350px;
}

	.register .field
	{
		width: 28%;
		text-align: right;
		font-size: 18px;
	}

	.register .value
	{
		width: 72%;
	}

		.register .value input
		{
			width: 250px;
			font-size: 14px;
		}

	.register .description
	{
		width: 72%;
		font-size: 14px;
	}

.RegisterButton
{
	display: inline-block;
	width: 200px;
	height: 75px;
	line-height: 75px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

	.RegisterButton:link
	{
		text-decoration: none;
		color: #000000;
		background: transparent url("images/home/button_200x75_default.png") center center no-repeat;
	}

	.RegisterButton:visited
	{
		text-decoration: none;
		color: #000000;
		background: transparent url("images/home/button_200x75_default.png") center center no-repeat;
	}

	.RegisterButton:hover
	{
		text-decoration: none;
		color: #000000;
		background: transparent url("images/home/button_200x75_hover.png") center center no-repeat;
	}

	.RegisterButton:active
	{
		text-decoration: none;
		color: #000000;
		background: transparent url("images/home/button_200x75_active.png") center center no-repeat;
	}

.errorInfo
{
	float: left;
	width: 300px;
	height: 300px;
	margin-left: 4px;
	border: 1px solid #000000;
}

.registerImage
{
	float: right;
	width: 340px;
	height: 300px;
	border: 1px solid #000000;
}
