html
{
	/*height: 100%;*/
	font-size: 1.4em;
	margin-top:2px;
}

body
{
	background-color: #ffffff;
	color: #000000;
	font: 62.5% "Microsoft Yahei",Verdana,Simsun,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
	min-width: 1000px;
}

h1
{
	font-size: 28px;
}

h2
{
	font-size: 24px;
}

h3
{
	font-size: 20px;
}

h4
{
	font-size: 18px;
}

h5
{
	font-size: 16px;
}

h6
{
	font-size: 14px;
}

a
{
	font-weight: bold;
	color: #085394;
	text-decoration: none;
}

	a:visited
	{
		color: #085394;
		text-decoration: none;
	}

	a:hover
	{
		color: #0088ff;
		text-decoration: underline;
	}

	a:active
	{
		color: #0088ff;
		text-decoration: underline;
	}

.body
{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.main_header
{
	height: 40px;
	line-height: 40px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.logo_150x40
{
	float: left;
	width: 150px;
	height: 40px;
	background: transparent url("images/Logo_150x40.png") center center no-repeat;
}

.main_nav
{
	float: right;
}

	.main_nav ul
	{
		list-style-type: none;
	}

		.main_nav ul li
		{
			float: left;
			margin-left: 10px;
		}

.hl
{
	height:20px;
	background: transparent url("images/horizontal_line.png") center center no-repeat;
}

.BigButton
{
	display:inline-block;
	width:200px;
	height:75px;
	text-align:center;
	
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	font-size:24px;
	border:2px solid #000000;
}

/*a
{
}

	a:visited
	{
		color: #085394;
		text-decoration: none;
	}

	a:hover
	{
		color: #0088ff;
		text-decoration: underline;
	}

	a:active
	{
		color: #0088ff;
		text-decoration: underline;
	}*/