@{
	ViewBag.Title = "MyDesignworks";
}

@section head{
	<script type="text/javascript" src="~/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/myInfo.css" />
}

<div class="myInfoSide">
	<ul>
		<li><a href="~/MyInfo/Index">我的资料</a></li>
		<li><span class="myInfoSideActive">我的设计</span></li>
		<li><a href="~/MyInfo/MyOrders">我的订单</a></li>
		<li><a href="~/MyInfo/MyAddresses">收货地址</a></li>
	</ul>
</div>
<div class="myInfoMain">
	<div></div>
	<div>
		<table id="dataTable" class="template">
			<script type="text/x-mustache">
			<tr>
				<th style="width: 60px;"></th>
				<th style="width: 370px;">活动标题</th>
				<th style="width: 60px;">售价</th>
				<th style="width: 140px;">已销售量/销售目标</th>
				<th style="width: 60px;">收益</th>
				<th style="width: 100px;">详细信息</th>
				<th style="width: 100px;">状态</th>
				<th style="width: 100px;">操作</th>
			</tr>
			{{#items}}
			<tr class="sep-row">
				<td colspan="8"></td>
			</tr>
			<tr class="item1">
				<td colspan="8">
					<input type="checkbox" /><span style="margin-right: 20px; display: inline-block;">开始时间：{{StartTime}}</span>{{^stateIs0}}结束时间：{{StartTime}}{{/stateIs0}}
				</td>
			</tr>
			<tr class="item2">
				<td>
					<img class="itemImage" alt="查看详情" src="/Static/Resources/site/images/Logo_150x40.png" />
				</td>
				<td class="rightLine" style="text-align: left;">
					{{Title}}
				</td>
				<td>
					{{SellingPrice}}
				</td>
				<td class="rightLine">
					{{SalesVolume}}/{{SalesGoal}}
				</td>
				<td class="rightLine">
					{{AnticipatedIncome}}
				</td>
				<td class="rightLine stress">
					{{#stateIs0}}
						{{! 未发布的，打开预览页面}}
						<a href="/DesignTShirt/Preview?guid={{GUID}}" target="_blank">查看详情</a>
					{{/stateIs0}}
					{{^stateIs0}}
						{{! 已发布的，打开销售页面}}
						<a href="/DesignTShirt/Buy?guid={{GUID}}" target="_blank">查看详情</a>
					{{/stateIs0}}
				</td>
				<td class="rightLine stress">
					{{stateString}}
				</td>
				<td class="stress">
					{{#stateIs0}}
					<a href="/DesignTShirt/Preview?guid={{GUID}}" target="_blank">发布</a>
					{{/stateIs0}}
					{{^stateIs0}}
						&nbsp;
					{{/stateIs0}}
				</td>
			</tr>
			{{/items}}
			</script>
		</table>
	</div>
	<div style="text-align: left;">
		@if (ViewBag.HasPrev)
  { 
	  <a href="~/MyInfo/MyDesignworks?pageIndex=@ViewBag.PrevPageIndex" >上一页</a>
  }
		@if (ViewBag.HasNext)
  { 
	  <a href="~/MyInfo/MyDesignworks?pageIndex=@ViewBag.NextPageIndex" >下一页</a>
  }
	</div>
</div>

@section scripts{
	<script type="text/javascript">
		var Data =  @Html.Raw(ViewBag.Data) ;

		$(function ()
		{
			$.initTemplate();
			$("#dataTable").data("template_extend", {
				stateIs0: function ()
				{
					return this.State == 0;
				},
				stateString:function()
				{
					switch (this.State) {
						case 0:
							return "设计中";
						case 1:
							return " ";
						default:
							return " ";
					}
				}
			});

			$("#dataTable").render(Data);
		});

	</script>
}