@{
	ViewBag.Title = "MyOrders";
}

@section head{
	<script type="text/javascript" src="~/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/myInfo.css" />
}

<div class="myInfoSide">
	<ul>
		<li><a href="~/MyInfo/Index">我的资料</a></li>
		<li><a href="~/MyInfo/Index">我的设计</a></li>
		<li><span class="myInfoSideActive">我的订单</span></li>
		<li><a href="~/MyInfo/Index">收货地址</a></li>
	</ul>
</div>
<div class="myInfoMain">
	<div></div>
	<div>
		<table id="dataTable">
			<tr class="sep-row">
				<td colspan="8"></td>
			</tr>
			<tr class="item1">
				<td colspan="8">
					<input type="checkbox" />订单编号：XXXX-XXXX-XXXX-XXXX-XXXX<span style="margin-left:20px;">成交时间：2013-05-27 22:04</span>
				</td>
			</tr>
			<tr class="item2">
				<td class="image">
					<img alt="查看详情" src="~/Static/Resources/site/images/Logo_150x40.png" />
				</td>
				<td class="subject">1</td>
				<td class="price">2</td>
				<td class="quantity">3</td>
				<td class="totalPrice">4</td>
				<td class="orderInfo">5</td>
				<td class="state">6</td>
				<td class="action">7</td>
			</tr>
		</table>
	</div>
</div>

@section scripts{
	<script type="text/javascript">
		var Data = { @Html.Raw(ViewBag.Data) };

		$(function ()
		{

		});

	</script>
}