@{
	ViewBag.Title = "MyOrders";
}

@section head{
	<script type="text/javascript" src="~/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/myInfo.css" />
}

<div class="myInfoSide">
	<ul>
		<li><a href="~/MyInfo/Index">我的资料</a></li>
		<li><a href="~/MyInfo/Index">我的设计</a></li>
		<li><span class="myInfoSideActive">我的订单</span></li>
		<li><a href="~/MyInfo/Index">收货地址</a></li>
	</ul>
</div>
<div class="myInfoMain">
	<div></div>
	<div>
		<table id="dataTable">
			<tr>
				<th colspan="2">物品</th>
				<th>单价(元)</th>
				<th>数量</th>
				<th>总价(元)</th>
				<th>订单状态</th>
				<th>其他操作</th>
			</tr>

			<tr class="sep-row">
				<td colspan="7"></td>
			</tr>
			<tr class="item1">
				<td colspan="7">
					<input type="checkbox" />订单编号：XXXX-XXXX-XXXX-XXXX-XXXX<span style="margin-left:20px; display:inline-block;">成交时间：2013-05-27 22:04</span>
				</td>
			</tr>
			<tr class="item2">
				<td class="image">
					<img alt="查看详情" src="~/Static/Resources/site/images/Logo_150x40.png" />
				</td>
				<td class="subject">
					<a href="">这里是产品的描述和链接</a>
					<span class="orderInfo">S码1件, M码3件, S码1件, M码3件, S码1件, M码3件, S码1件, M码3件, S码1件, M码3件, S码1件, M码3件, </span>
				</td>
				<td class="price">50.00</td>
				<td class="quantity">4</td>
				<td class="totalPrice">200.00</td>
				<td class="state">
					<span>已发货</span>
					<a href="">订单详情</a>
				</td>
				<td class="action">
					<a id="test" href="javascript:void(0);" onclick="return false;">退款/退货</a>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id="show1" title="提示"><p>注册成功！关闭窗口后返回首页。</p></div>

@section scripts{
	<script type="text/javascript">
		var Data = { @Html.Raw(ViewBag.Data) };

		$(function ()
		{
			$('#show1').dialog({
				resizable: false,
				modal: true,
				autoOpen: false,
				buttons:
					[
						{
							text: "关闭",
							click: function ()
							{
								$(this).dialog("close");
							}
						}
					],
				close: function (event, ui)
				{
			
				}
			});

			$("#test").click(function ()
			{
				$('#show1').dialog("open");
			});
		});

	</script>
}