@{
	ViewBag.Title = "MyOrders";
}

@section head{
	<script type="text/javascript" src="~/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/myInfo.css" />
}

<div class="myInfoSide">
	<ul>
		<li><a href="~/MyInfo/Index">我的资料</a></li>
		<li><a href="~/MyInfo/MyDesignworks">我的设计</a></li>
		<li><span class="myInfoSideActive">我的订单</span></li>
		<li><a href="~/MyInfo/MyAddresses">收货地址</a></li>
	</ul>
</div>
<div class="myInfoMain">
	<div></div>
	<div>
		<table id="dataTable" class="template">
			<script type="text/x-mustache">
			<tr>
				<th style="width: 60px;"></th>
				<th style="width: 370px;">物品</th>
				<th style="width: 80px;">单价(元)</th>
				<th style="width: 80px;">数量</th>
				<th style="width: 100px;">总价(元)</th>
				<th style="width: 100px;">订单状态</th>
				<th style="width: 100px;">其他操作</th>
			</tr>
			{{#items}}
			<tr class="sep-row">
				<td colspan="7"></td>
			</tr>
			<tr class="item1">
				<td colspan="7">
					<input type="checkbox" />订单编号：{{GUID}}<span style="margin-left: 20px; display: inline-block;">成交时间：{{CreateTime}}</span>
				</td>
			</tr>
			<tr class="item2">
				<td>
					<img class="itemImage" alt="查看详情" src="/Static/UserFiles/{{DesignerEmail}}/{{DesignWorkID}}/{{MaterialPictureFileName}}" />
				</td>
				<td style="text-align: left;">
					<a href="">{{Title}}</a>
					<span class="description">{{OrderDetails}} </span>
				</td>
				<td>{{Price}}</td>
				<td class="rightLine">{{Quantity}}</td>
				<td class="rightLine stress">{{Total}}</td>
				<td class="rightLine">
					<span>已发货</span>
					<a href="">订单详情</a>
				</td>
				<td>
					<a id="test" href="javascript:void(0);" onclick="return false;">退款/退货</a>
				</td>
			</tr>
			{{/items}}
			</script>
		</table>
	</div>
	<div style="text-align: left;">
		@if (ViewBag.HasPrev)
  { 
	  <a href="~/MyInfo/MyOrders?pageIndex=@ViewBag.PrevPageIndex" >上一页</a>
  }
		@if (ViewBag.HasNext)
  { 
	  <a href="~/MyInfo/MyOrders?pageIndex=@ViewBag.NextPageIndex" >下一页</a>
  }
	</div>
</div>

@section scripts{
	<script type="text/javascript">
		var Data =  @Html.Raw(ViewBag.Data) ;

		$(function ()
		{
			$.initTemplate();
			$("#dataTable").data("template_extend", {
				stateIs0: function ()
				{
					return this.State == 0;
				},
				stateString:function()
				{
					switch (this.State) {
						case 0:
							return "设计中";
						case 1:
							return " ";
						default:
							return " ";
					}
				}
			});

			$("#dataTable").render(Data);
		});

	</script>
}