@{
    ViewBag.Title = "MyOrders";
}

@section head{
	<script type="text/javascript" src="~/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/myInfo.css" />
}

<div class="myInfoSide">
	<ul>
		<li><a href="~/MyInfo/Index">我的资料</a></li>
		<li><a href="~/MyInfo/Index">我的设计</a></li>
		<li><span class="myInfoSideActive">我的订单</span></li>
		<li><a href="~/MyInfo/Index">收货地址</a></li>
	</ul>
</div>
<div class="myInfoMain">
	<div></div>
	<div>
		<table></table>
	</div>
</div>