@{
	ViewBag.Title = "MyOrders";
}

@section head{
	<script type="text/javascript" src="~/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/myInfo.css" />
}

<div class="myInfoSide">
	<ul>
		<li><a href="~/MyInfo/Index">我的资料</a></li>
		<li><a href="~/MyInfo/MyDesignworks">我的设计</a></li>
		<li><span class="myInfoSideActive">我的订单</span></li>
		<li><a href="~/MyInfo/MyAddresses">收货地址</a></li>
	</ul>
</div>
<div class="myInfoMain">
	<div></div>
	<div>
		<table id="dataTable" class="template">
			<script type="text/x-mustache">
			<tr>
				<th style="width: 60px;"></th>
				<th style="width: 370px;">物品</th>
				<th style="width: 80px;">单价(元)</th>
				<th style="width: 80px;">数量</th>
				<th style="width: 100px;">总价(元)</th>
				<th style="width: 100px;">订单状态</th>
				<th style="width: 100px;">其他操作</th>
			</tr>
			{{#items}}
			<tr class="sep-row">
				<td colspan="7"></td>
			</tr>
			<tr class="item1">
				<td colspan="7">
					<input type="checkbox" />订单编号：{{GUID}}<span style="margin-left: 20px; display: inline-block;">成交时间：{{CreateTime}}</span>
				</td>
			</tr>
			<tr class="item2">
				<td>
					<img class="itemImage" alt="查看详情" src="/Static/UserFiles/{{DesignerEmail}}/{{DesignWorkID}}/{{MaterialPictureFileName}}" />
				</td>
				<td style="text-align: left;">
					<a href="">{{Title}}</a>
					<span class="description">{{OrderDetails}} </span>
				</td>
				<td>{{Price}}</td>
				<td class="rightLine">{{Quantity}}</td>
				<td class="rightLine stress">{{Total}}</td>
				<td class="rightLine">
					{{{stateString}}}
				</td>
				<td>
					<a data-action="" data-guid="{{GUID}}" href="javascript:void(0);" onclick="return false;">退款/退货</a>
				</td>
			</tr>
			{{/items}}
			</script>
		</table>
	</div>
	<div style="text-align: left;">
		@if (ViewBag.HasPrev)
  { 
			<a href="~/MyInfo/MyOrders?pageIndex=@ViewBag.PrevPageIndex" >上一页</a>
  }
		@if (ViewBag.HasNext)
  { 
			<a href="~/MyInfo/MyOrders?pageIndex=@ViewBag.NextPageIndex" >下一页</a>
  }
	</div>
</div>

@section scripts{
	<script type="text/javascript">
		var Data = @Html.Raw(ViewBag.Data) ;

		$(function ()
		{
			$.initTemplate();
			$("#dataTable").data("template_extend", {
				stateString: function ()
				{
					// 退款状态
					// 0：未发生退款
					// 1：退款申请中
					// 2：退款成功
					// 3：退款失败
					switch (this.RefundState)
					{
						case 0:
							// 状态
							// 0：等待输入地址等信息
							// 1：等待买家付款
							// 2：买家已付款，等待卖家发货
							// 3：卖家已发货，等待买家确认
							// 4：交易成功结束
							// 5：交易中途关闭(已结束，未成功完成)
							switch (this.State)
							{
								case 0:
									return '<a href="/Logic/ConfirmOrder?guid=' + this.GUID + '" target="_blank">确认地址</a>';
								case 1:
									return '<a href="/Logic/Pay?guid=' + this.GUID + '" target="_blank">付款</a>';
								case 2:
									switch (this.DesignWorkState)
									{
										// 状态
										// -1：预售不足
										// 0：设计中
										// 1：预售中
										// 2：生产中
										// 3：发货中
										// 4：收款中
										// 5：返款中
										// 6：归档
										case -1:
											return '<span>预售不足，退款中</span>';
										case 1:
											return '<span>等待预售结束</span>';
										case 2:
											return '<span>生产中</span>';
										case 3:
											return '<span>发货中</span>';
									}
								case 3:
									return '<span>已发货</span>';
								case 4:
									return '<span>交易成功</span>';
								case 5:
									return '<span>交易关闭</span>';
							}
						case 1:
							return '<span>申请退款中</span>';
						case 2:
							return '<span>退款成功</span>';
						case 3:
							return '<span>退款失败</span>';

					}
					return "";
				},
				stateAction: function ()
				{
					switch (this.State)
					{
						case 0:
							return "设计中";
						case 1:
							return " ";
						default:
							return " ";
					}
				}
			});

			$("#dataTable").render(Data);
		});

	</script>
}