<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="logDirectory" value="${basedir}/Logs/${shortdate}"/>
	<targets>
		<target xsi:type="File" name="AllFile" fileName="${logDirectory}/All.log"
				layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ◆${message}${newline}${newline}***************************************************************************" />

		<target xsi:type="File" name="UI" fileName="${logDirectory}/UI.log"
				layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ◆${message}${newline}${newline}***************************************************************************" />

		<target xsi:type="File" name="BLL" fileName="${logDirectory}/BLL.log"
				layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ◆${message}${newline}${newline}***************************************************************************" />

		<target xsi:type="File" name="DAL" fileName="${logDirectory}/DAL.log"
				layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ◆${message}${newline}${newline}***************************************************************************" />

		<target xsi:type="File" name="Util" fileName="${logDirectory}/Util.log"
				layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ◆${message}${newline}${newline}***************************************************************************" />

		<target xsi:type="Database" name="AllDatabase" dbProvider="MySql.Data.MySqlClient"
										connectionString="Server=localhost;Database=designerlogsdb;Uid=root;Pwd=p@ssw0rd;"
										commandText="insert into Logs(CreateDate,LogLevel,CallSite,Massage,StackTrace) values (@CreateDate,@LogLevel,@CallSite,@Massage,@StackTrace)">
			<parameter name="CreateDate" layout="${longdate}" />
			<parameter name="LogLevel" layout="${level}" />
			<parameter name="CallSite" layout="${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}" />
			<parameter name="Massage" layout="${message}" />
			<parameter name="StackTrace" layout="${stacktrace}" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="AllFile,AllDatabase" />
		<logger name="*.MainWeb.*" minlevel="Trace" writeTo="UI" />
		<logger name="*.BusinessLogics.*" minlevel="Trace" writeTo="BLL" />
		<logger name="*.Entities.*" minlevel="Trace" writeTo="DAL" />
		<logger name="*.Utility.*" minlevel="Trace" writeTo="Util" />
	</rules>
</nlog>