@{
	ViewBag.Title = "新建服装设计";
}

@section head{
	<script type="text/javascript" src="~/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/DesignClothes_Create.css" />
}

<div class="left">
	<div id="ClothesTypeAndColor" class="group">
		<div id="ClothesType">
			<a class="button" href="javascript:void(0);" onclick="return false;" id="ShortRNeck" style="background-image:url('/Static/SystemFiles/TShirt/ShortRNeck/50x50.png')" title="短袖圆领"></a>
			<a class="button" href="javascript:void(0);" onclick="return false;" id="ShortVNeck" style="background-image:url('/Static/SystemFiles/TShirt/ShortVNeck/50x50.png')" title="短袖V领"></a>
			<a class="button" href="javascript:void(0);" onclick="return false;" id="LongRNeck" style="background-image:url('/Static/SystemFiles/TShirt/LongRNeck/50x50.png')" title="长袖圆领"></a>
			<a class="button" href="javascript:void(0);" onclick="return false;" id="LongVNeck" style="background-image:url('/Static/SystemFiles/TShirt/LongVNeck/50x50.png')" title="长袖V领"></a>
			@Html.Raw(ViewBag.DataClothesType)
		</div>
		<div id="ClothesColor">
		</div>
	</div>
</div>
<div class="main"></div>

@section scripts{
	<script type="text/javascript">
		var DataClothesColor = { @Html.Raw(ViewBag.DataClothesColor) };

		$(function ()
		{

		});
	</script>

}