@{
	ViewBag.Title = "新建服装设计";
}

@section head{
	<script type="text/javascript" src="~/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/DesignTShirt_Create.css" />


}

<div class="left">
	<div id="TShirtTypeAndColor" class="group">
		<div id="TShirtType">
			<span id="_ShortRNeck" style="background-image: url('/Static/SystemFiles/TShirt/ShortRNeck/50x50.png')" title="短袖圆领" class="button active"></span>
			<span id="_ShortVNeck" style="background-image: url('/Static/SystemFiles/TShirt/ShortVNeck/50x50.png')" title="短袖V领" class="button"></span>
			<span id="_LongRNeck" style="background-image: url('/Static/SystemFiles/TShirt/LongRNeck/50x50.png')" title="长袖圆领" class="button"></span>
			<span id="_LongVNeck" style="background-image: url('/Static/SystemFiles/TShirt/LongVNeck/50x50.png')" title="长袖V领" class="button"></span>
		</div>
		<div id="TShirtColor">
			<span id="_ColorGUID1" style="background-color: #ffffff;" data-colorcode="ffffff" class="button active"></span>
			<span id="_ColorGUID2" style="background-color: #000000;" data-colorcode="000000" class="button"></span>
			<span id="_ColorGUID3" style="background-color: #ff0000;" data-colorcode="ff0000" class="button"></span>
			<span id="_ColorGUID4" style="background-color: #00ff00;" data-colorcode="00ff00" class="button"></span>
			<span id="_ColorGUID5" style="background-color: #0000ff;" data-colorcode="0000ff" class="button"></span>
		</div>
	</div>
	<div id="UploadImage" class="group">
		<input type="hidden" id="hiddenUploadPath" />
		<input type="file" id="_PictureGUID1_uploadFile" name="_PictureGUID1_uploadFile" data-filename="" />
	</div>

	<div id="SalesInformation" class="group">
		<div id="salesGoalSlider"></div>
		<div style="float: left; width: 170px;">
			<span>销售目标：</span><span id="salesGoal">50</span><span>件</span><br />
			<span>单件成本：</span><span id="basePrice">50.00</span><span>元/件</span><br />
			<span>单件售价：</span><input type="text" id="sellingPrice" style="width: 60px" value="60.00" onchange="ComputerAnticipatedIncome();" /><span>元/件</span>
		</div>
		<div style="float: right; width: 210px; text-align: right;" title="显示的是总收益，需要扣除支付宝的手续费用，付款1.2%手续费，打款0.5%手续费（最低1元，最高25元）。">
			<span>您的预计收益：</span><br />
			<span id="anticipatedIncome" style="font: bold 48px arial;">461.68</span><span>元</span>
		</div>
	</div>

	<div id="DesignInformation" class="group">
		<div title="给您的活动取个好辨识的标题吧。">
			<span>活动标题：</span><input type="text" id="title" style="width: 320px;" />
			<input type="button" onclick="test();" value="test" />
		</div>
		<div style="margin-top: 5px;" title="您希望该活动的预售时长。">
			<span>活动时长：</span>
			<div id="longTime" style="display: inline-block;">
				<input type="radio" id="time3" name="longTime" value="3" /><label for="time3">3天</label>
				<input type="radio" id="time7" name="longTime" value="7" checked /><label for="time7">7天</label>
				<input type="radio" id="time14" name="longTime" value="14" /><label for="time14">14天</label>
				<input type="radio" id="time21" name="longTime" value="21" /><label for="time21">21天</label>
			</div>
		</div>
		<div style="margin-top: 5px;" title="给您的写点什么吧。它会显示到购买页面的说。">
			<span>活动说明：</span><textarea id="description" style="height: 200px;"></textarea>
		</div>
	</div>
</div>
<div class="main">
	<div id="ShowEffect" class="group">
		<div id="_PictureGUID1_backgroundImage" style="position: relative; width: 550px; height: 650px;">
			<div id="_PictureGUID1_uploadImage" class="uploadImage" style="width: 240px; height: 320px; left: 155px; top: 165px;"></div>
		</div>
		<div id="_PictureGUID2_background" style="position: relative; width: 550px; height: 650px;">
			<div id="_PictureGUID2_upload" class="uploadImage" style="width: 240px; height: 320px; left: 155px; top: 165px;"></div>
		</div>
	</div>
</div>

@section scripts{
	<script type="text/javascript">
		var CurrentTShirtType = "ShortRNeck";
		var CurrentTShirtColor = "ffffff";

		var DataTShirtType =  @Html.Raw(ViewBag.DataTShirtType) ;

		$(function ()
		{
			//#region 初始化单选事件
			$("#TShirtType > span").live("mouseover", function () { $(this).addClass("hover"); });
			$("#TShirtType > span").live("mouseout", function () { $(this).removeClass("hover"); });
			$("#TShirtType > span").live("click", function ()
			{
				$("#TShirtType > span.active").removeClass("active");
				$(this).addClass("active");
				CurrentTShirtType = $(this).attr("id").substring(1);

				OnTypeChange();
			});

			$("#TShirtColor > span").live("mouseover", function () { $(this).addClass("hover"); });
			$("#TShirtColor > span").live("mouseout", function () { $(this).removeClass("hover"); });
			$("#TShirtColor > span").live("click", function ()
			{
				$("#TShirtColor > span.active").removeClass("active");
				$(this).addClass("active");
				CurrentTShirtColor = $(this).attr("data-colorCode");

				OnColorChange();
			});

			$("#ShowEffect .uploadImage").live("mouseover", function () { $(this).css("border-color", "#ccc"); });
			$("#ShowEffect .uploadImage").live("mouseout", function () { $(this).css("border-color", "transparent"); });
			
			$("#salesGoalSlider").slider({
				value: 50,
				min: 10,
				max: 200,
				step: 10,
				slide: function (event, ui)
				{
					$("#salesGoal").text(ui.value);
					ComputerAnticipatedIncome();
				}
			});
			//#endregion

			UpdateTShirtType();

			UpdateTShirtColor();

			UpdataShowEffect();
		});

		function UpdateTShirtType()
		{
			$("#TShirtType").empty();
			for (var i = 0; i < DataTShirtType.length; i++)
			{
				var activeClass = "";
				if (i == 0)
				{
					activeClass = " active";
					CurrentTShirtType = DataTShirtType[i].GUID;
				}
				var tempElement = String.format('<span id="_{0}" style="background-image: url(\'/Static/SystemFiles/{1}/{0}/50x50.png\')" title="{2}" class="button{3}"></span>',
					DataTShirtType[i].GUID, DataTShirtType[i].TypeID, DataTShirtType[i].Name, activeClass);
				$("#TShirtType").append(tempElement);
			}
		}

		function UpdateTShirtColor()
		{
			$("#TShirtColor").empty();
			var CurrentMaterialcolors = [];

			//#region 查找到当前的 CurrentMaterialcolors
			for (var i = 0; i < DataTShirtType.length; i++)
			{
				if (DataTShirtType[i].GUID == CurrentTShirtType)
				{
					CurrentMaterialcolors = DataTShirtType[i].materialcolors;
					break;
				}
			}
			//#endregion

			for (var i = 0; i < CurrentMaterialcolors.length; i++)
			{
				var activeClass = "";
				if (CurrentMaterialcolors[i].IsDefault)
				{
					activeClass = " active";
					CurrentTShirtColor = CurrentMaterialcolors[i].ColorCode;
				}
				var tempElement = String.format('<span id="_{0}" style="background-color:#{1};" data-colorCode="{1}" title="{2}" class="button{3}"></span>',
					CurrentMaterialcolors[i].GUID, CurrentMaterialcolors[i].ColorCode, CurrentMaterialcolors[i].ColorName, activeClass);
				$("#TShirtColor").append(tempElement);
			}
		}

		function UpdataShowEffect()
		{
			$("#ShowEffect").empty();
			$("#UploadImage").empty();
			$("#UploadImage").append('<input type="hidden" id="hiddenUploadPath" />');
			var CurrentMaterialpictures = [];

			//#region 查找到当前的 CurrentMaterialpictures
			for (var i = 0; i < DataTShirtType.length; i++)
			{
				if (DataTShirtType[i].GUID == CurrentTShirtType)
				{
					CurrentMaterialpictures = DataTShirtType[i].materialpictures;
					break;
				}
			}
			//#endregion

			for (var i = 0; i < CurrentMaterialpictures.length; i++)
			{
				var tempElement = String.format('<div id="_{0}_backgroundImage" style="position: relative; background-image: url(\'/Static/SystemFiles/TShirt/{1}/{2}/{3}\'); width: {4}px; height: {5}px;"><div id="_{0}_uploadImage" class="uploadImage" style="width:{6}px; height:{7}px; left:{8}px; top:{9}px;"></div></div>',
					CurrentMaterialpictures[i].GUID, CurrentTShirtType, CurrentTShirtColor, CurrentMaterialpictures[i].FileName, CurrentMaterialpictures[i].Width, CurrentMaterialpictures[i].Height, CurrentMaterialpictures[i].UploadWidth * CurrentMaterialpictures[i].ShowScale, CurrentMaterialpictures[i].UploadHeight * CurrentMaterialpictures[i].ShowScale, CurrentMaterialpictures[i].Left, CurrentMaterialpictures[i].Top);
				$("#ShowEffect").append(tempElement);


				var tempElementUpload = String.format('<input type="file" id="_{0}_uploadFile" name="_{0}_uploadFile" data-fileName="{1}" />',
					CurrentMaterialpictures[i].GUID, CurrentMaterialpictures[i].FileName);
				$("#UploadImage").append(tempElementUpload);
				(function ()
				{
					var tempGUID = CurrentMaterialpictures[i].GUID;
					var tempFileName = CurrentMaterialpictures[i].FileName;
					$("#_" + tempGUID + "_uploadFile").uploadify({
						'width': 375,
						'uploader': '/Home/UploadDesignImage',
						'buttonText': String.format('上传【{0}】图片（{1} x {2}）', CurrentMaterialpictures[i].Name, CurrentMaterialpictures[i].UploadWidth, CurrentMaterialpictures[i].UploadHeight),
						'fileTypeDesc': '图片文件',					//文件类型描述
						'fileTypeExts': '*.png',					//文件类型后缀
						'onUploadStart' : function(file) {
							$("#_" + tempGUID + "_uploadFile").uploadify("settings", "formData", {'GUID' : tempGUID, 'UploadPath' : $("#hiddenUploadPath").val()});
						},
						'onUploadSuccess': function (file, data, response)
						{
							var dataobj = JSON.parse(data);
							if (dataobj.state == 'success')
							{
								$("#hiddenUploadPath").val(dataobj.msg);
								$("#_" + tempGUID + "_uploadImage").css("background-image", "url('/Static/UserFiles/temp/" + dataobj.userID + "/" + dataobj.msg + "/" + tempFileName + "')");
							}
							else
							{
								$('<div title="错误"><p>' + dataobj.msg + '</p></div>').dialog({
									resizable: false,
									modal: true,
									autoOpen: true,
									buttons:
										[
											{
												text: "关闭",
												click: function ()
												{
													$(this).dialog("close");
												}
											}
										]
								});
							}
						}
					});
				})();
			}
		}

		function OnTypeChange()
		{
			UpdateTShirtColor();

			UpdataShowEffect();
		}

		function OnColorChange()
		{
			UpdataShowEffect();
		}

		function ComputerAnticipatedIncome()
		{
			var salesGoal = parseInt($("#salesGoal").text());
			var sellingPrice = parseFloat($("#sellingPrice").val());
			var basePrice = parseFloat($("#basePrice").text());
			var anticipatedIncome = (salesGoal * (sellingPrice * 100000 * 0.988 - basePrice * 100000));
			var tax = anticipatedIncome * 0.005;
			if (tax < 1 * 100000)
				tax = 1 * 00000;
			else if (tax > 25 * 100000)
				tax = 25 * 100000;
			anticipatedIncome = (anticipatedIncome - tax) / 100000;
			$("#anticipatedIncome").text(anticipatedIncome);
		}

	</script>

}