@{
	ViewBag.Title = "新建服装设计";
}

@section head{
	<script type="text/javascript" src="~/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/DesignTShirt_Create.css" />
}

<div class="left">
	<div id="TShirtTypeAndColor" class="group">
		<div id="TShirtType">
			<span id="_ShortRNeck" style="background-image: url('/Static/SystemFiles/TShirt/ShortRNeck/50x50.png')" title="短袖圆领" class="button active"></span>
			<span id="_ShortVNeck" style="background-image: url('/Static/SystemFiles/TShirt/ShortVNeck/50x50.png')" title="短袖V领" class="button"></span>
			<span id="_LongRNeck" style="background-image: url('/Static/SystemFiles/TShirt/LongRNeck/50x50.png')" title="长袖圆领" class="button"></span>
			<span id="_LongVNeck" style="background-image: url('/Static/SystemFiles/TShirt/LongVNeck/50x50.png')" title="长袖V领" class="button"></span>
		</div>
		<div id="TShirtColor">
			<span id="_ColorGUID1" style="background-color: #ffffff;" class="button active"></span>
			<span id="_ColorGUID2" style="background-color: #000000;" class="button"></span>
			<span id="_ColorGUID3" style="background-color: #ff0000;" class="button"></span>
			<span id="_ColorGUID4" style="background-color: #00ff00;" class="button"></span>
			<span id="_ColorGUID5" style="background-color: #0000ff;" class="button"></span>
		</div>
	</div>
	<div id="UploadImage" class="group">
	</div>
</div>
<div class="main"></div>

@section scripts{
	<script type="text/javascript">
		var CurrentTShirtType = "ShortRNeck";
		var CurrentTShirtColor = "ffffff";

		var DataTShirtType =  @Html.Raw(ViewBag.DataTShirtType) ;

		var DataTShirtColor = [];

		$(function ()
		{
			//初始化单选事件
			$("#TShirtType > span").live("mouseover", function () { $(this).addClass("hover") });
			$("#TShirtType > span").live("mouseout", function () { $(this).removeClass("hover") });
			$("#TShirtType > span").live("click", function ()
			{
				$("#TShirtType > span.active").removeClass("active");
				$(this).addClass("active");
				DataTShirtColor =
				CurrentTShirtType = $(this).attr("id").substring(1);

				UpdateTShirtColor();
			});

			$("#TShirtColor > span").live("mouseover", function () { $(this).addClass("hover") });
			$("#TShirtColor > span").live("mouseout", function () { $(this).removeClass("hover") });
			$("#TShirtColor > span").live("click", function ()
			{
				$("#TShirtColor > span.active").removeClass("active");
				$(this).addClass("active");
				CurrentTShirtColor = $(this).attr("id").substring(1);
			});

			UpdateTShirtType();

			UpdateTShirtColor();
		});

		function UpdateTShirtType()
		{
			$("#TShirtType").empty();
			for (var i = 0; i < DataTShirtType.length; i++)
			{
				var activeClass = "";
				if (i == 0)
				{
					activeClass = " active";
					CurrentTShirtType = DataTShirtType[i].GUID;
				}
				var tempspan = String.format('<span id="_{0}" style="background-image: url(\'/Static/SystemFiles/{1}/{0}/50x50.png\')" title="{2}" class="button{3}"></span>',
					DataTShirtType[i].GUID, DataTShirtType[i].TypeID, DataTShirtType[i].Name, activeClass);
				$("#TShirtType").append(tempspan);
			}
		}

		function UpdateTShirtColor()
		{
			$("#TShirtColor").empty();
			FindCurrentDataTShirtColor();
			for (var i = 0; i < DataTShirtColor.length; i++)
			{
				if (DataTShirtColor[i].State == 1)
				{
					var activeClass = "";
					if (DataTShirtColor[i].IsDefault)
					{
						activeClass = " active";
						CurrentTShirtColor = DataTShirtColor[i].ColorCode;
					}
					var tempspan = String.format('<span id="_{0}" style="background-color:#{1};" title="{2}" class="button{3}"></span>',
						DataTShirtColor[i].GUID, DataTShirtColor[i].ColorCode, DataTShirtColor[i].ColorName, activeClass);
					$("#TShirtColor").append(tempspan);
				}
			}
		}

		function FindCurrentDataTShirtColor()
		{
			for (var i = 0; i < DataTShirtType.length; i++)
			{
				if (DataTShirtType[i].GUID == CurrentTShirtType)
				{
					DataTShirtColor = DataTShirtType[i].materialcolors;
					return;
				}
			}
			DataTShirtColor = [];
			return;
		}

	</script>

}