@{
	ViewBag.Title = "新建服装设计";
}

@section head{
	<script type="text/javascript" src="~/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/DesignTShirt_Create.css" />


}

<div class="left">
	<div id="TShirtTypeAndColor" class="group">
		<div id="TShirtType">
			@*<span id="_shortrneck" style="background-image: url('/Static/SystemFiles/tshirt/shortrneck/50x50.png')" title="短袖圆领" class="button active"></span>
			<span id="_shortvneck" style="background-image: url('/Static/SystemFiles/tshirt/shortvneck/50x50.png')" title="短袖V领" class="button"></span>
			<span id="_longrneck" style="background-image: url('/Static/SystemFiles/tshirt/longrneck/50x50.png')" title="长袖圆领" class="button"></span>
			<span id="_longvneck" style="background-image: url('/Static/SystemFiles/tshirt/longvneck/50x50.png')" title="长袖V领" class="button"></span>*@
		</div>
		<div id="TShirtColor">
			<span id="_colorguid1" style="background-color: #ffffff;" data-colorcode="ffffff" class="button active"></span>
			<span id="_colorguid2" style="background-color: #000000;" data-colorcode="000000" class="button"></span>
			<span id="_colorguid3" style="background-color: #ff0000;" data-colorcode="ff0000" class="button"></span>
			<span id="_colorguid4" style="background-color: #00ff00;" data-colorcode="00ff00" class="button"></span>
			<span id="_colorguid5" style="background-color: #0000ff;" data-colorcode="0000ff" class="button"></span>
		</div>
	</div>
	<div id="UploadImage" class="group">
		<input type="hidden" id="hiddenUploadPath" />
		<input type="file" id="_pictureguid1_uploadFile" name="_pictureguid1_uploadFile" data-filename="" />
	</div>

	<div id="SalesInformation" class="group">
		<div id="salesGoalSlider"></div>
		<div>
			<span>销售目标：</span><span id="salesGoal">50</span><span>件</span>
			<input type="hidden" id="basePrice" value="55.00" />
			<span style="float: right;">元/件</span>
			<span style="float: right;" id="basePriceShow">50.00</span>
			<span style="float: right;">单件成本：</span>
		</div>
		<div style="float: left; width: 110px;">
			<span>单件售价：</span><br />
			<input type="text" id="sellingPrice" style="width: 70px" value="60.00" onchange="ComputerAnticipatedIncome();" title="最高定价9999.99元" /><span>元/件</span>
		</div>
		<div style="float: right; width: 270px; text-align: right;" title="显示的是总收益，需要扣除支付宝的手续费用，付款1.2%手续费，打款0.5%手续费（最低1元，最高25元）。">
			<span>您的预计收益约为：</span><br />
			<span id="anticipatedIncome">1966873.00元</span>
		</div>
	</div>

	<div id="DesignInformation" class="group">
		<div title="给您的活动取个好辨识的标题吧。5~50个字。">
			<span>活动标题：</span><input type="text" id="title" style="width: 300px;" />
		</div>
		<div style="margin-top: 5px;" title="您希望该活动的预售时长。">
			<span>活动时长：</span>
			<div id="longTime" style="display: inline-block;">
				<input type="radio" id="time3" name="longTime" value="3" /><label for="time3">3天</label>
				<input type="radio" id="time7" name="longTime" value="7" checked /><label for="time7">7天</label>
				<input type="radio" id="time14" name="longTime" value="14" /><label for="time14">14天</label>
				<input type="radio" id="time21" name="longTime" value="21" /><label for="time21">21天</label>
			</div>
		</div>
		<div style="margin-top: 5px;" title="给您的写点什么吧。它会显示到购买页面的说。0~2000个字。">
			<span>活动说明：</span><br />
			<textarea id="description" style="width: 375px; height: 280px;"></textarea>
		</div>
	</div>
	<div id="Next" class="group">
		<a id="submit" class="button submitButton" href="javascript:void(0);" onclick="return false;">发布</a>
	</div>
</div>
<div class="main">
	<div id="ShowEffect" class="group">
		<div id="_pictureguid1_backgroundImage" style="position: relative; width: 550px; height: 650px;">
			<div id="_pictureguid1_uploadImage" class="uploadImage" style="width: 240px; height: 320px; left: 155px; top: 165px;"></div>
		</div>
		<div id="_pictureguid2_background" style="position: relative; width: 550px; height: 650px;">
			<div id="_pictureguid2_upload" class="uploadImage" style="width: 240px; height: 320px; left: 155px; top: 165px;"></div>
		</div>
	</div>
</div>

@section scripts{
	<script type="text/javascript">
		var CurrentTShirtType = "shortrneck";
		var CurrentTShirtColor = "ffffff";

		var DataTShirtType = @Html.Raw(ViewBag.DataTShirtType) ;

		$(function ()
		{
			//#region 初始化单选事件
			$("#TShirtType > span").live("mouseover", function () { $(this).addClass("hover"); });
			$("#TShirtType > span").live("mouseout", function () { $(this).removeClass("hover"); });
			$("#TShirtType > span").live("click", function ()
			{
				$("#TShirtType > span.active").removeClass("active");
				$(this).addClass("active");
				CurrentTShirtType = $(this).attr("id").substring(1);

				OnTypeChange();
			});

			$("#TShirtColor > span").live("mouseover", function () { $(this).addClass("hover"); });
			$("#TShirtColor > span").live("mouseout", function () { $(this).removeClass("hover"); });
			$("#TShirtColor > span").live("click", function ()
			{
				$("#TShirtColor > span.active").removeClass("active");
				$(this).addClass("active");
				CurrentTShirtColor = $(this).attr("data-colorCode");

				OnColorChange();
			});

			$("#ShowEffect .uploadImage").live("mouseover", function () { $(this).css("border-color", "#ccc"); });
			$("#ShowEffect .uploadImage").live("mouseout", function () { $(this).css("border-color", "transparent"); });

			$("#salesGoalSlider").slider({
				value: 50,
				min: 10,
				max: 200,
				step: 10,
				slide: function (event, ui)
				{
					$("#salesGoal").text(ui.value);
					ComputerAnticipatedIncome();
				}
			});

			$("#longTime").buttonset();

			$("#submit").click(function ()
			{
				var MaterialGUID = CurrentTShirtType;
				var ColorCode = CurrentTShirtColor;
				var UploadPath = $("#hiddenUploadPath").val();
				if (UploadPath.length == 0)
				{
					$('<div title="提示"><p>上传图案后才可以发布哦！</p></div>').dialog({
						resizable: false,
						modal: true,
						autoOpen: true,
						buttons:
							[
								{
									text: "关闭",
									click: function ()
									{
										$(this).dialog("close");
									}
								}
							]
					});
					return;
				}

				var salesGoal = parseInt($("#salesGoal").text());
				var sellingPrice = parseFloat($("#sellingPrice").val());

				var title = $("#title").val();
				if (title.length == 0)
					title = "这家伙懒的连标题都没写";
				title = title.substring(0, 50);

				var time = parseInt($('input[name="longTime"]:checked').val());

				var description = $("#description").val();
				if (description.length == 0)
					description = "这家伙很懒，什么说明都没留下";
				description = description.substring(0, 2000);

				$.ajax({
					type: "post",
					cache: false,
					url: "@Url.Action("Create", "DesignTShirt")",
					data:
						{
							materialGUID: MaterialGUID,
							colorCode: ColorCode,
							uploadPath: UploadPath,
							salesGoal: salesGoal,
							sellingPrice: sellingPrice,
							title: title,
							time: time,
							description: description
						},
					success: function (data)
					{
						var dataobj = JSON.parse(data);
						if (dataobj.code > 0)
						{
							$('<div title="提示"><p>发布成功</p></div>').dialog({
								resizable: false,
								modal: true,
								autoOpen: true,
								buttons:
									[
										{
											text: "关闭",
											click: function ()
											{
												$(this).dialog("close");
											}
										}
									],
								close: function (event, ui)
								{
									location.href = "@Url.Action("Index", "Home")";
								}
							});
							}
							else
							{
								location.href="/Logic/Preview?guid="+dataobj.msg;
							}
					},
					error: function (XMLHttpRequest, textStatus, errorThrown)
					{
						alert("服务器连接失败，请重试！");
					}
				});
			});
			//#endregion

			UpdateTShirtType();

			UpdateTShirtColor();

			UpdataShowEffect();

			UpdataMoney();

		});

			function UpdateTShirtType()
			{
				$("#TShirtType").empty();
				for (var i = 0; i < DataTShirtType.length; i++)
				{
					var activeClass = "";
					if (i == 0)
					{
						activeClass = " active";
						CurrentTShirtType = DataTShirtType[i].GUID;
					}
					var tempElement = String.format('<span id="_{0}" style="background-image: url(\'/Static/SystemFiles/{1}/{0}/50x50.png\')" title="{2}" class="button{3}"></span>',
						DataTShirtType[i].GUID, DataTShirtType[i].TypeID, DataTShirtType[i].Name, activeClass);
					$("#TShirtType").append(tempElement);
				}
			}

			function UpdateTShirtColor()
			{
				$("#TShirtColor").empty();
				var CurrentMaterialcolors = [];

				//#region 查找到当前的 CurrentMaterialcolors
				for (var i = 0; i < DataTShirtType.length; i++)
				{
					if (DataTShirtType[i].GUID == CurrentTShirtType)
					{
						CurrentMaterialcolors = DataTShirtType[i].materialcolors;
						break;
					}
				}
				//#endregion

				for (var i = 0; i < CurrentMaterialcolors.length; i++)
				{
					var activeClass = "";
					if (CurrentMaterialcolors[i].IsDefault)
					{
						activeClass = " active";
						CurrentTShirtColor = CurrentMaterialcolors[i].ColorCode;
					}
					var tempElement = String.format('<span id="_{0}" style="background-color:#{1};" data-colorCode="{1}" title="{2}" class="button{3}"></span>',
						CurrentMaterialcolors[i].GUID, CurrentMaterialcolors[i].ColorCode, CurrentMaterialcolors[i].ColorName, activeClass);
					$("#TShirtColor").append(tempElement);
				}
			}

			function UpdataShowEffect()
			{
				$("#ShowEffect").empty();
				$("#UploadImage").empty();
				$("#UploadImage").append('<input type="hidden" id="hiddenUploadPath" />');
				var CurrentMaterialpictures = [];

				//#region 查找到当前的 CurrentMaterialpictures
				for (var i = 0; i < DataTShirtType.length; i++)
				{
					if (DataTShirtType[i].GUID == CurrentTShirtType)
					{
						CurrentMaterialpictures = DataTShirtType[i].materialpictures;
						break;
					}
				}
				//#endregion

				for (var i = 0; i < CurrentMaterialpictures.length; i++)
				{
					var tempElement = String.format('<div id="_{0}_backgroundImage" style="position: relative; background-image: url(\'/Static/SystemFiles/TShirt/{1}/{2}/{3}\'); width: {4}px; height: {5}px;"><div id="_{0}_uploadImage" class="uploadImage" style="width:{6}px; height:{7}px; left:{8}px; top:{9}px;"></div></div>',
						CurrentMaterialpictures[i].GUID, CurrentTShirtType, CurrentTShirtColor, CurrentMaterialpictures[i].FileName, CurrentMaterialpictures[i].Width, CurrentMaterialpictures[i].Height, CurrentMaterialpictures[i].UploadWidth * CurrentMaterialpictures[i].ShowScale, CurrentMaterialpictures[i].UploadHeight * CurrentMaterialpictures[i].ShowScale, CurrentMaterialpictures[i].Left, CurrentMaterialpictures[i].Top);
					$("#ShowEffect").append(tempElement);


					var tempElementUpload = String.format('<input type="file" id="_{0}_uploadFile" name="_{0}_uploadFile" data-fileName="{1}" />',
						CurrentMaterialpictures[i].GUID, CurrentMaterialpictures[i].FileName);

					$("#UploadImage").append(tempElementUpload);
					(function ()
					{
						var tempGUID = CurrentMaterialpictures[i].GUID;
						var tempFileName = CurrentMaterialpictures[i].FileName;
						$("#_" + tempGUID + "_uploadFile").uploadify({
							'width': 375,
							'uploader': '/Home/UploadDesignImage',
							'buttonText': String.format('上传【{0}】图片（{1} x {2}）', CurrentMaterialpictures[i].Name, CurrentMaterialpictures[i].UploadWidth, CurrentMaterialpictures[i].UploadHeight),
							'fileTypeDesc': '图片文件',					//文件类型描述
							'fileTypeExts': '*.png',					//文件类型后缀
							'onUploadStart': function (file)
							{
								$("#_" + tempGUID + "_uploadFile").uploadify("settings", "formData", { 'GUID': tempGUID, 'UploadPath': $("#hiddenUploadPath").val() });
							},
							'onUploadSuccess': function (file, data, response)
							{
								var dataobj = JSON.parse(data);
								if (dataobj.state == 'success')
								{
									$("#hiddenUploadPath").val(dataobj.msg);
									$("#_" + tempGUID + "_uploadImage").css("background-image", "url('/Static/UserFiles/temp/" + dataobj.msg + "/" + tempFileName + "')");
								}
								else
								{
									$('<div title="错误"><p>' + dataobj.msg + '</p></div>').dialog({
										resizable: false,
										modal: true,
										autoOpen: true,
										buttons:
											[
												{
													text: "关闭",
													click: function ()
													{
														$(this).dialog("close");
													}
												}
											]
									});
								}
							}
						});
					})();
				}
			}

			function UpdataMoney()
			{
				var CurrentTShirtTypeObject = {};
				for (var i = 0; i < DataTShirtType.length; i++)
				{
					if (DataTShirtType[i].GUID == CurrentTShirtType)
					{
						CurrentTShirtTypeObject = DataTShirtType[i];
						break;
					}
				}
				$("#basePrice").val(CurrentTShirtTypeObject.Price);
				$("#sellingPrice").val(RetainDigits(CurrentTShirtTypeObject.Price * 1.1, 2));
				ComputerAnticipatedIncome();
			}

			function OnTypeChange()
			{
				UpdateTShirtColor();

				UpdataShowEffect();

				UpdataMoney();
			}

			function OnColorChange()
			{
				UpdataShowEffect();
			}

			function ComputerAnticipatedIncome()
			{
				//预计销售数量
				var salesGoal = parseInt($("#salesGoal").text());
				//销售价格 2位小数
				var sellingPrice = Math.round(parseFloat($("#sellingPrice").val()) * 100) / 100;
				//基础价格 2位小数
				var basePrice = Math.round(parseFloat($("#basePrice").val()) * 100) / 100;
				//基础价格 显示 2位小数
				var basePriceShow = basePrice;
				if (salesGoal <= 20)
				{
					//10件原价，20件减2元
					basePriceShow = basePriceShow - (salesGoal / 10 - 1) * 2;
				}
				else if (salesGoal <= 50)
				{
					//20件以上，每多10件再减1元
					basePriceShow = basePriceShow - 2 - (salesGoal / 10 - 2) * 1;
				}
				else if (salesGoal <= 100)
				{
					//50件以上，每多10件再减0.5元
					basePriceShow = basePriceShow - 5 - (salesGoal / 10 - 5) * 0.5;
				}
				else if (salesGoal <= 200)
				{
					//100件以上，每多10件再减0.2元
					basePriceShow = basePriceShow - 7.5 - (salesGoal / 10 - 10) * 0.2;
				}
				else if (salesGoal > 200)
				{
					//200件以上直接减10元
					basePriceShow = basePriceShow - 10;
				}

				if (isNaN(sellingPrice) || sellingPrice < basePrice + 1)
				{
					sellingPrice = basePrice + 1;
				}
				else if (sellingPrice > 9999.99)
				{
					sellingPrice = 9999.99;
				}
				$("#sellingPrice").val(RetainDigits(sellingPrice, 2));
				$("#basePriceShow").text(RetainDigits(basePriceShow, 2));

				//支付宝每笔收款收1.2%手续费，每笔收0.5%手续费（最低1元，最高25元）
				var anticipatedIncome = (salesGoal * (sellingPrice - Math.round(sellingPrice * 0.012 * 100) / 100 - basePriceShow));
				var tax = anticipatedIncome * 0.005;
				if (tax < 1)
					tax = 1;
				else if (tax > 25)
					tax = 25;
				tax = Math.round(tax * 100) / 100;
				anticipatedIncome = Math.round((anticipatedIncome - tax) * 100) / 100;
				$("#anticipatedIncome").text(RetainDigits(anticipatedIncome, 2) + "元");
			}

	</script>

}