@{
	ViewBag.Title = "首页";
}
@section head{
	<link rel="stylesheet" href="~/Static/Resources/site/home.css" />
}
<div class="line1 ui-helper-clearfix">
	<div class="imageDiv "></div>
	<div class="mainDiv">
		<h1>设计和出售定制T恤</h1>
		<h1>无需任何成本投入</h1>
		<ul>
			<li style="background-image: url('/Static/Resources/site/images/No1_44x44.png')">
				<h2>不需要任何前期成本，零风险。</h2>
				<span>设计和上传您的设计，向您的好友推广您的设计，后续工作交给我们。</span>
			</li>
			<li style="background-image: url('/Static/Resources/site/images/No2_44x44.png')">
				<h2>高质量的T恤。</h2>
				<span>我们采用高质量的T恤和印刷技术进行生产，保障产品质量的优越。</span>
			</li>
			<li style="background-image: url('/Static/Resources/site/images/No3_44x44.png')">
				<h2>后期回报丰厚</h2>
				<span>您的艺术品，价值由您定，我们只扣除生产成本和打款必须的手续费。</span>
			</li>
		</ul>
		<a class="button HomeButton" href="~/DesignTShirt/Create">开始设计</a>
	</div>
</div>
<div class="hl"></div>
<div class="line2 ui-helper-clearfix">
	<div class="imageDiv imageDiv1"></div>
	<div class="contentDiv">
		<h1>发起一个预购活动</h1>
		<p>上传您的设计，并定好活动时长，售价等信息。</p>
	</div>
	<div class="spaceDiv"></div>
	<div class="imageDiv imageDiv2"></div>
	<div class="contentDiv">
		<h1>推广您的设计</h1>
		<p>宣传您的设计作品。将预购地址发给有意向的人。</p>
	</div>
	<div class="spaceDiv"></div>
	<div class="imageDiv imageDiv3"></div>
	<div class="contentDiv">
		<h1>获得收益</h1>
		<p>我们来处理生产、运输、收款。您只需要等待收款即可。</p>
	</div>
</div>

<div id="showItems" class="line3 ui-helper-clearfix template">
	<script type="text/x-mustache">
		<div class="ui-helper-clearfix">
			<span style="font-size: 16px;">设计展示</span>
			<a href="/Home/AllDesign" style="float: right;">更多</a>
		</div>
		<div class="hl"></div>
		{{#items}}
	<div class="itemDiv">
		<div class="itemImage" style="background-image:url(/Static/UserFiles/{{DesignerID}}/{{GUID}}/180_{{MaterialPictureFileName}})"></div>
		<div class="itemInfo">
			<h1>{{Title}}</h1>
			<h2 style="color:#0094ff;">设计师：<a href="/Home/UserDesign?userID={{DesignerID}}">{{DesignerName}}</a></h2>
			<div class="descriptionInfo">
				{{Description}}
			</div>
		</div>
		<div class="saleInfo">
			<div>
				<span style="color:#0094ff;">售价：￥{{SellingPrice}}</span>
				<span style="float:right;">已售/目标：{{SalesVolume}}/{{SalesGoal}}</span>
			</div>
			<div>
				<a href="/Logic/Buy?guid={{GUID}}" target="_blank">查看这个活动 »</a>
				<span style="float:right;">截止时间：{{EndTime}}</span>
			</div>
		</div>
	</div>
		{{/items}}
	</script>
</div>
<div class="hl"></div>

@section scripts{
	<script type="text/javascript">
		var Data = @Html.Raw(ViewBag.Data) ;

		$(function ()
		{
			$.initTemplate();

			$("#showItems").render(Data);
		});
	</script>
}