<div id="loginDialog" class="login">
	<div>
		<div>
			邮箱：<br />
			<input id="login_LoginName" type="text" tabIndex="1"/>
		</div>
		<div>
			密码：<a id="login_forget" style="float: right;" href="javascript:void(0);" onclick="return false;">忘记密码</a><br />
			<input id="login_Password" type="password" tabIndex="2"/>
		</div>
		<div>
			验证码：<br />
			<input id="login_SecurityCode" type="text" style="width: 80px;" placeholder="输入验证码" value="" tabIndex="3"/>
			<img id="login_SecurityCodeImage" alt="看不清楚，点击更换。" src="~/Home/SecurityCode" style="vertical-align: middle;" />
			<a id="login_ChangeSecurityCodeImage" href="javascript:void(0);" onclick="return false;">换一张</a><br />
			<div id="login_SecurityCodeError" style="display: none; color: red;">验证码错误。</div>
		</div>
	</div>
</div>
<style type="text/css">
.login > div
	{
		width: 200px;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}

	.login > div > div
	{
		margin-top: 10px;
	}

	.login input[type="text"], .login input[type="password"]
	{
		width: 200px;
	}
</style>
<script type="text/javascript">
	$(function ()
	{
		//#region 处理Tab和Shift+Tab以及Enter事件
		$("#login_LoginName").keydown(function (event)
		{
			var e = window.event || event;
			var k = e.keyCode || e.which;
			if (k == 13)
			{
				$("#login_Password").focus();
				if (e.preventDefault)
					e.preventDefault();
				else
					e.returnValue = false;
			}
		});
		$("#login_Password").keydown(function (event)
		{
			var e = window.event || event;
			var k = e.keyCode || e.which;
			if (k == 13)
			{
				$("#login_SecurityCode").focus();
				if (e.preventDefault)
					e.preventDefault();
				else
					e.returnValue = false;
			}
		});
		$("#login_SecurityCode").keydown(function (event)
		{
			var e = window.event || event;
			var k = e.keyCode || e.which;
			if (k == 13)
			{
				LoginSubmit();
				if (e.preventDefault)
					e.preventDefault();
				else
					e.returnValue = false;
			}
		});
		//#endregion

		//#region 处理事件
		$("#login_SecurityCodeImage").data("src", $("#login_SecurityCodeImage").attr("src"));
		$("#login_ChangeSecurityCodeImage").click(function ()
		{
			ChangeNewSecurityCodeImage();
		});
		//#endregion

		//#region 处理验证码
		$("#login_SecurityCode").blur(function ()
		{
			if ($("#login_SecurityCode").val().length == 4)
			{
				$.ajax({
					type: "get",
					cache: false,
					url: "@Url.Action("CheckSecurityCode", "Home")",
					data: { SecurityCode: $("#login_SecurityCode").val() },
					success: function (data)
					{
						var dataobj = JSON.parse(data);
						if (dataobj.code > 0)
						{
							$("#login_SecurityCodeError").css("display", "none");
						}
						else
						{
							$("#login_SecurityCodeError").css("display", "block");
						}
					},
					error: function (XMLHttpRequest, textStatus, errorThrown)
					{

					}
				});
			}
			else
			{
				$("#login_SecurityCodeError").css("display", "block");
			}
		});
		//#endregion


		//$("#loginDialog").dialog("open");
		$("#loginDialog").dialog({
			autoOpen: false,
			modal: true,
			title: "用户登录",
			closeText: "关闭",
			open: function (event, ui)
			{
				$("#login_LoginName").val("");
				$("#login_Password").val("");
				ChangeNewSecurityCodeImage();
			},
			buttons: [
				{
					text: "登录",
					click: function ()
					{
						LoginSubmit();
					}
				},
				{
					text: "取消",
					click: function ()
					{
						$(this).dialog("close");
					}
				}
			]
		});
	});

	function ChangeNewSecurityCodeImage()
	{
		$("#login_SecurityCodeImage").attr("src", $("#login_SecurityCodeImage").data("src") + "?" + new Date().getTime());
		$("#login_SecurityCode").val("");
		$("#login_SecurityCodeError").css("display", "none");
	}

	function LoginSubmit()
	{
		var LoginName = $("#login_LoginName").val();
		var Password = $("#login_Password").val();
		var SecurityCode = $("#login_SecurityCode").val();
		var SecurityCodeOK = $("#login_SecurityCodeError").css("display") == "none";

		if (LoginName.length > 0 && Password.length > 0 && SecurityCode.length > 0 && SecurityCodeOK)
		{
			$.ajax({
				type: "post",
				cache: false,
				url: "@Url.Action("Login", "Home")",
				data:
				{
					LoginName: $.base64.encode(LoginName),
					Password: $.base64.encode(Password),
					SecurityCode: SecurityCode
				},
				success: function (data)
				{
					var dataobj = JSON.parse(data);
					if (dataobj.code > 0)
					{
						location.reload();
					}
					else
					{
						$("#MessageDialog_Message").html(dataobj.msg);
						$("#MessageDialog").dialog("option", { title: "错误提示", width: 200 });
						$("#MessageDialog").dialog("open");
						ChangeNewSecurityCodeImage();
					}
				},
				error: function (XMLHttpRequest, textStatus, errorThrown)
				{
					$("#MessageDialog_Message").html("网络错误，请重试！");
					$("#MessageDialog").dialog("option", { title: "错误提示", width: 200 });
					$("#MessageDialog").dialog("open");
				}
			});
		}
		else
		{
			var ErrorMessage = "";
			if (LoginName.length == 0)
				ErrorMessage += "<p>请输入<span style='color: red;'>邮箱</span>。</p>";
			if (Password.length == 0)
				ErrorMessage += "<p>请输入<span style='color: red;'>密码</span>。</p>";
			if (SecurityCode.length == 0)
				ErrorMessage += "<p>请输入<span style='color: red;'>验证码</span>。</p>";
			if (!SecurityCodeOK)
				ErrorMessage += "<p><span style='color: red;'>验证码</span>输入错误。</p>";

			$("#MessageDialog").html(ErrorMessage);
			$("#MessageDialog").dialog("option", { title: "错误提示", width: 200 });
			$("#MessageDialog").dialog("open");
		}
	}
</script>