@{
	ViewBag.Title = "首页";
}
@section head{
	<link href="~/Static/Resources/site/home.css" rel="stylesheet"/>
	}
<div class="line1 ui-helper-clearfix">
	<div class="imageDiv "></div>
	<div class="mainDiv">
		<h1>设计和出售定制T恤</h1>
		<h1>无需任何成本投入</h1>
		<ul>
			<li style="background-image:url('/Static/Resources/site/images/No1_44x44.png')">
				<h2>不需要任何前期成本，零风险。</h2>
				<span>设计和上传您的设计，向您的好友推广您的设计，后续工作交给我们。</span>
			</li>
			<li style="background-image:url('/Static/Resources/site/images/No2_44x44.png')">
				<h2>高质量的T恤。</h2>
				<span>我们采用高质量的T恤和印刷技术进行生产，保障产品质量的优越。</span>
			</li>
			<li style="background-image:url('/Static/Resources/site/images/No3_44x44.png')">
				<h2>后期回报丰厚</h2>
				<span>您的艺术品，价值由您定，我们只扣除生产成本和打款必须的手续费。</span>
			</li>
		</ul>
		<a class="BigButton" href="~/Demo/DesignClothes">开始设计</a>
	</div>
</div>
<div class="hl"></div>