@{
	Layout = "~/Views/Shared/_Space.cshtml";
	ViewBag.Title = "登录";
}

@section head{
	<link rel="stylesheet" href="~/Static/Resources/site/login.css" />
	<script type="text/javascript" src="~/Static/Resources/jquery.base64/jquery.base64.min.js"></script>
}
<div class="loginImage">
	695x300图片
</div>
<div class="login">
	<div>
		<div>
			登录名：<br />
			<input id="loginName" type="text" />
		</div>
		<div>
			登录密码：<a id="forget" style="float: right;" href="javascript:void(0);" onclick="return false;">忘记密码</a><br />
			<input id="loginPassword" type="password" />
		</div>
		<div>
			<a id="login" class="LoginButton" href="javascript:void(0);" onclick="return false;">登录</a>
			<a id="register" style="float: right;" href="~/Demo/Register" >注册</a>
		</div>
	</div>
</div>
@section scripts{
	<script type="text/ecmascript">
		$(function ()
		{
			$("#login").click(function ()
			{
				var urlarg = "?N=" + $.base64.encode($("#loginName").val()) + "&P=" + $.base64.encode($("#loginPassword").val());
			});
		});
	</script>
}
