@{
	ViewBag.Title = "确认订单";
}

@section head{
	<script type="text/javascript" src="~/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/Logic_ConfirmOrder.css" />
}
<div id="Addresses" class="template">
	<script type="text/x-mustache">
	<h2>选择收货地址</h2>
	{{#items}}
	<div class="Address{{active}}">
		<div>
			<span id="Province">{{Province}}</span><span id="City">{{City}}</span> (<span id="Consignee">{{Consignee}}</span> 收)
			<hr />
		</div>
		<div style="word-wrap: break-word; word-break: break-all;">
			<span id="County">{{County}}</span> <span id="StreetAddress">{{StreetAddress}}</span> <br />{{MobileORPhone}}
			<span id="Mobile" style="display: none;">{{Mobile}}</span>
			<span id="Phone" style="display: none;">{{Phone}}</span>
			<span id="ZipCode" style="display: none;">{{ZipCode}}</span>
		</div>
	</div>
	{{/items}}
	<div class="ui-helper-clearfix"></div>
	<a href="/MyInfo/MyAddresses" target="_blank">管理收货地址</a>
	</script>
</div>
<div id="OrderInfo" class="template">
<script type="text/x-mustache">
	<h2>确认订单信息</h2>
	<table>
			<tr>
				<th style="width: 60px;"></th>
				<th style="width: 530px;">订单信息</th>
				<th style="width: 80px;">单价(元)</th>
				<th style="width: 80px;">数量</th>
				<th style="width: 80px;">运费</th>
				<th style="width: 100px;">合计</th>
				<th style="width: 150px;">配送方式</th>
			</tr>
			<tr class="item2">
				<td>
					<img class="itemImage" alt="查看详情" src="/Static/UserFiles/{{OrderInfo.DesignerID}}/{{OrderInfo.DesignWorkID}}/{{OrderInfo.MaterialPictureFileName}}" />
				</td>
				<td class="rightLine" style="text-align: left;">
					{{OrderInfo.Title}}
					{{OrderInfo.OrderDetails}}
				</td>
				<td>
					{{OrderInfo.Price}}
				</td>
				<td class="rightLine">
					{{OrderInfo.Quantity}}
				</td>
				<td class="rightLine">
					{{OrderInfo.Freight}}
				</td>
				<td class="rightLine">
					{{OrderInfo.Total}}
				</td>
				<td class="rightLine stress">
					<select id="ShippingMethod">
						<option value="中通速递" selected >中通速递</option>
						<option value="韵达快递" >韵达快递</option>
					</select>
				</td>
			</tr>
			<tr class="sep-row">
				<td colspan="6"></td>
			</tr>
		</table>
</script>
</div>
<div>
	<a id="Submit" class="button SubmitButton" href="javascript:void(0);" onclick="return false;">确认并付款</a>
</div>

@if (ViewBag.UnLogin)
{
	<script type="text/javascript">
		$("#loginDialog").dialog("open");
	</script> 
}
else
{
	<script type="text/javascript">
		var CanPost = true;

		var Data = {};
		var DataAddresses = { items : @Html.Raw(ViewBag.DataAddresses) };
		var DataOrderInfo = @Html.Raw(ViewBag.DataOrderInfo) ;

		$.extend(Data, DataAddresses);
		$.extend(Data, DataOrderInfo);
		

		$(function ()
		{
			$.initTemplate();
			$("#Addresses").data("template_extend", {
				MobileORPhone: function ()
				{
					if (this.Mobile.length > 0)
						return this.Mobile;
					else
						return this.Phone;
				},
				active: function()
				{
					if(this.IsDefault)
						return " active";
					else
						return "";
				}
			});
			$("#Addresses").render(Data);

			$("#OrderInfo").data("template_extend", {});
			$("#OrderInfo").render(Data);


			$("#Addresses > .Address").live("click", function ()
			{
				$("#Addresses > .Address.active").removeClass("active");
				$(this).addClass("active");
			});

			$("#Submit").click(function(){
				if(CanPost)
				{
					CanPost = false;

					var postdata = GetAddress();
					if(postdata == null)
					{
						$("#MessageDialog_Message").html("请选择 <span style='color: red;'>收货地址</span>");
						$("#MessageDialog").dialog("option", { title: "错误提示", width: 200 });
						$("#MessageDialog").dialog("open");
						return;
					}

					$.ajax({
						type: "post",
						cache: false,
						url: "@Url.Action("ConfirmOrder", "Logic")",
						data: postdata,
						success: function (data)
						{
							var dataobj = JSON.parse(data);
							if(dataobj.code == -99)
							{
								$("#loginDialog").dialog("open");
							}
							else if (dataobj.code > 0)
							{
								//转到选择地址和支付页面
								location.href = "@Url.Action("Alipay", "Alipay_Pay")" + "?OrderID=" + dataobj.msg;
							}
							else
							{
								$("#MessageDialog_Message").html(dataobj.msg);
								$("#MessageDialog").dialog("option", { title: "错误提示", width: 350 });
								$("#MessageDialog").dialog("open");
							}
							CanPost = true;
						},
						error: function (XMLHttpRequest, textStatus, errorThrown)
						{
							CanPost = true;
							$("#MessageDialog_Message").html("网络错误，请重试！");
							$("#MessageDialog").dialog("option", { title: "错误提示", width: 200 });
							$("#MessageDialog").dialog("open");
						}
					});
				}
			});
		});

		function GetAddress()
		{
			var $Address = $("#Addresses > .Address.active");
			if($Address.length == 0)
				return null
			
			return {
				guid: Data.OrderInfo.GUID,
				Province: $("#Province", $Address).text(),
				City: $("#City", $Address).text(),
				County: $("#County", $Address).text(),
				StreetAddress: $("#StreetAddress", $Address).text(),
				Mobile: $("#Mobile", $Address).text(),
				Phone: $("#Phone", $Address).text(),
				Consignee: $("#Consignee", $Address).text(),
				ZipCode: $("#ZipCode", $Address).text(),
				ShippingMethod: $("#ShippingMethod").val()
			};
		}
	</script> 
}
