@{
	ViewBag.Title = "确认订单";
}

@section head{
	<script type="text/javascript" src="~/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/Logic_ConfirmOrder.css" />
}
<div id="Addresses" class="template">
	<script type="text/x-mustache">
	<h2>选择收货地址</h2>
	{{#items}}
	<div class="Address{{active}}">
		<div>
			<span id="Province">{{Province}}</span><span id="City">{{City}}</span> (<span id="Consignee">{{Consignee}}</span> 收)
			<hr />
		</div>
		<div style="word-wrap: break-word; word-break: break-all;">
			<span id="County">{{County}}</span> <span id="StreetAddress">{{StreetAddress}}</span> <br />{{MobileORPhone}}
			<span id="Mobile" style="display: none;">{{Mobile}}</span>
			<span id="Phone" style="display: none;">{{Phone}}</span>
		</div>
	</div>
	{{/items}}
	<div class="ui-helper-clearfix"></div>
	</script>
</div>
<div id="OrderInfo" class="template">
<script type="text/x-mustache">
	<h2>确认订单信息</h2>
	<table>
			<tr>
				<th style="width: 60px;"></th>
				<th style="width: 650px;">订单信息</th>
				<th style="width: 60px;">单价(元)</th>
				<th style="width: 60px;">数量</th>
				<th style="width: 60px;">合计</th>
				<th style="width: 100px;">配送方式</th>
			</tr>
			<tr class="item2">
				<td>
					<img class="itemImage" alt="查看详情" src="/Static/UserFiles/{{OrderInfo.DesignerEmail}}/{{OrderInfo.DesignWorkID}}/{{OrderInfo.MaterialPictureFileName}}" />
				</td>
				<td class="rightLine" style="text-align: left;">
					{{OrderInfo.Title}}
					{{OrderInfo.OrderDetails}}
				</td>
				<td>
					{{OrderInfo.Price}}
				</td>
				<td class="rightLine">
					{{OrderInfo.Quantity}}
				</td>
				<td class="rightLine">
					{{OrderInfo.Total}}
				</td>
				<td class="rightLine stress">
					//配送方式
				</td>
			</tr>
		</table>
</script>
</div>
<div>
	<
</div>>

@if (ViewBag.UnLogin)
{
	<script type="text/javascript">
		$("#loginDialog").dialog("open");
	</script> 
}
else
{
	<script type="text/javascript">

		var Data = {};
		var DataAddresses = { items : @Html.Raw(ViewBag.DataAddresses) };
		var DataOrderInfo = @Html.Raw(ViewBag.DataOrderInfo) ;

		$.extend(Data, DataAddresses);
		$.extend(Data, DataOrderInfo);
		

		$(function ()
		{
			$.initTemplate();
			$("#Addresses").data("template_extend", {
				MobileORPhone: function ()
				{
					if (this.Mobile.length > 0)
						return this.Mobile;
					else
						return this.Phone;
				},
				active: function()
				{
					if(this.IsDefault)
						return " active";
					else
						return "";
				}
			});
			$("#Addresses").render(Data);

			$("#OrderInfo").data("template_extend", {});
			$("#OrderInfo").render(Data);


			$("#Addresses > .Address").live("click", function ()
			{
				$("#Addresses > .Address.active").removeClass("active");
				$(this).addClass("active");
			});


		});
	</script> 
}
