@{
	ViewBag.Title = "确认订单";
}

@section head{
	<script type="text/javascript" src="~/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/Logic_ConfirmOrder.css" />
}
<div id="Addresses" class="template">
	<script type="text/x-mustache">
	<h2>选择收货地址</h2>
	{{#item}}
	<div class="Address{{active}}">
		<div>
			<span id="Province">{{Province}}</span><span id="City">{{City}}</span> (<span id="Consignee">{{Consignee}}</span> 收)
			<hr />
		</div>
		<div style="word-wrap: break-word; word-break: break-all;">
			<span id="County">{{County}}</span> <span id="StreetAddress">{{StreetAddress}}</span> <br />{{MobileORPhone}}
			<span id="Mobile" style="display: none;">{{Mobile}}</span>
			<span id="Phone" style="display: none;">{{Phone}}</span>
		</div>
	</div>
	{{/item}}
	<div class="ui-helper-clearfix"></div>
	</script>
</div>
<div id="OrderInfo" class="template">
<script type="text/x-mustache">
	<h2>确认订单信息</h2>
	<table>
			<tr>
				<th style="width: 60px;"></th>
				<th style="width: 650px;">订单信息</th>
				<th style="width: 60px;">单价(元)</th>
				<th style="width: 60px;">数量</th>
				<th style="width: 60px;">合计</th>
				<th style="width: 100px;">配送方式</th>
			</tr>
			<tr class="item2">
				<td>
					<img class="itemImage" alt="查看详情" src="/Static/Resources/site/images/Logo_150x40.png" />
				</td>
				<td class="rightLine" style="text-align: left;">
					{{order.Subject}}
					{{sizequantity}}
				</td>
				<td>
					{{price}}
				</td>
				<td class="rightLine">
					{{order.Quantity}}
				</td>
				<td class="rightLine">
					{{totalprice}}
				</td>
				<td class="rightLine stress">
					//配送方式
				</td>
			</tr>
		</table>
</script>
</div>

@if (ViewBag.UnLogin)
{
	<script type="text/javascript">
		$("#loginDialog").dialog("open");
	</script> 
}
else
{
	<script type="text/javascript">

		var Data = {};
		var DataAddresses = { item : @Html.Raw(ViewBag.DataAddresses) };
		var DataOrder = { order : @Html.Raw(ViewBag.DataOrder) };

		$.extend(Data, DataAddresses);
		$.extend(Data, DataOrder);
		

		$(function ()
		{
			$.initTemplate();
			$("#Addresses").data("template_extend", {
				MobileORPhone: function ()
				{
					if (this.Mobile.length > 0)
						return this.Mobile;
					else
						return this.Phone;
				},
				active: function()
				{
					if(this.IsDefault)
						return " active";
					else
						return "";
				}
			});
			$("#Addresses").render(Data);

			$("#OrderInfo").data("template_extend", {
				sizequantity: function ()
				{
					var result = "";
					for (var i = 0; i < this.order.orderdetails.length; i++) {
						if (result.length != 0)
							result += "、";
						result += this.order.orderdetails[i].SizeName + "：" + this.order.orderdetails[i].Quantity + "件"
					}
					result += "。";
					
					return result;
				},
				price: function()
				{
					return RetainDigits(this.order.Price, 2);
				},
				totalprice: function()
				{
					return RetainDigits(this.order.Price * this.order.Quantity, 2);
				}
			});
			$("#OrderInfo").render(Data);


			$("#Addresses > .Address").live("click", function ()
			{
				$("#Addresses > .Address.active").removeClass("active");
				$(this).addClass("active");
			});


		});
	</script> 
}
