@{
	ViewBag.Title = "Detail";
}

@section head{
	<script type="text/javascript" src="~/Static/Resources/_references.js"></script>
	<link rel="stylesheet" href="~/Static/Resources/site/Logic_Detail.css" />
}
<div class="StateList">
	<div><span>创建订单</span><span>2013-08-14 21:21:21</span></div>
	<div><span>确认订单</span><span>2013-08-14 21:21:21</span></div>
	<div><span>付款</span><span>2013-08-14 21:21:21</span></div>
	<div><span>等待(结束和生产)</span><span>2013-08-14 21:21:21</span></div>
	<div><span>发货</span><span>2013-08-14 21:21:21</span></div>
	<div><span>确认收货</span><span>2013-08-14 21:21:21</span></div>
</div>
